<div class="background-modal">
  <div class="modal-dialogue">
      <div class="modal-container">
        <div class="close-modal" (click)="close()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg close-icon" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </div>
        <h2 class="modal-title">Nova transação</h2>
        
        <form [formGroup]="transactionForm" (ngSubmit)="submit()" class="form-container">


          <!-- Descrição --> 
          <mat-form-field appearance="fill">
            <input class="modal-input" matInput formControlName="descricao" placeholder="Descrição">
            <mat-error class="error-text" *ngIf="transactionForm.get('descricao')?.invalid && transactionForm.get('descricao')?.touched">
              {{ getErrorMessage('descricao') }}
            </mat-error>
          </mat-form-field>

          <!-- Preço -->
          <mat-form-field appearance="fill">
            <input class="modal-input" matInput type="number" formControlName="preco" placeholder="Preço">
            <mat-error class="error-text" *ngIf="transactionForm.get('preco')?.invalid && transactionForm.get('preco')?.touched">
              {{ getErrorMessage('preco') }} 
            </mat-error>
          </mat-form-field>

          <!-- Categoria -->
          <mat-form-field appearance="fill">
            <input class="modal-input" matInput formControlName="categoria" placeholder="Categoria">
            <mat-error class="error-text" *ngIf="transactionForm.get('categoria')?.invalid && transactionForm.get('categoria')?.touched">
              {{ getErrorMessage('categoria') }}
            </mat-error>
          </mat-form-field>

        
          <!-- Botões de tipo de transação -->
          <div class="transaction-type">
            <button class="button-type-transaction" type="button" mat-button
                    [ngClass]="{'selected': selectedType === 'E'}"
                    (click)="setTransactionType('E')">
              <div class="text-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                    class="bi bi-arrow-up-circle" viewBox="0 0 16 16" color="#12A454">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                </svg>
                Entrada
              </div>
            </button>
    
            <button class="button-type-transaction" type="button" mat-button
                    [ngClass]="{'selected': selectedType === 'S'}"
                    (click)="setTransactionType('S')">
              <div class="text-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                    class="bi bi-arrow-down-circle" viewBox="0 0 16 16" color="#E52E4D">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                </svg>
                Saída
              </div>
            </button>
          </div>
        
          <button mat-flat-button color="primary" class="submit-button" type="submit" [disabled]="transactionForm.invalid">
            Cadastrar
          </button>
        </form>
    </div>
  </div>
</div>




