
section{
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
    align-items: center;
}

.background-div{
    top: 0;
    position: absolute;
    z-index: 0;
    height: 27vh;
    width: 100%;
    background-color: #121214;
    left: 0;
}